*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    min-height: 100vh;
    color: #fff;
    background-color: #000;
    font-family: 'robot-font', sans-serif;

}

.noto-sans-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

nav{

    background-color: #00000063;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 2px #8d1812;
    width: 100%;

}

nav.sticky{

    position: fixed;
    top: 0;
    left: 0;

}

nav ul{

    width: 70%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    

}

.nav-logo{

    display: flex;
    align-items: center;

}

nav li{

    height: 50px;

}

nav a{

    height: 100%;
    padding: 0 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
 
}

nav a:hover{

    color: #8d1812;

}

nav li:first-child{

    margin-right: auto;

}

.sidebar{

    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #000000e7;
    backdrop-filter: blur(25px);
    box-shadow: -2px 1px 5px #8d1812;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li,
.sidebar a{

    width: 100%;

}

.menu-button{

    display: none;

}

.header-info{

    background-image: url("./images/Smoke2.1.png");
    padding: 5rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 1px 5px #8d1812;

}

.header-left{

    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 14%;
    
}

.header-buttons{

    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.header-buttons a{

    color: #fff;
    text-decoration: none;
    font-size: 1rem;

}

.button-contact{

    background: transparent;
    border-radius: 10px;
    border-color: #8d1812;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;

}

.button-contact:hover{

    background-color: #8d1812;
    transform: translateY(-3px);

}

.button-portfolio{

    background: transparent;
    border: none;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;

}

.button-portfolio:hover{

    color: #8d1812;

}

.fa-angle-down{

    color: #fff;
    padding-left: 1rem;

}

.header-img{

    flex: 1 1 200px;
    padding-right: 5%;
    text-align: center;

}

.header-img img{

    height: 200px;
    width: 200px;
    max-width: 100%;

}

.info{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem 2rem;
    gap: 10rem;
    color: #fff;
    
}

.info-text,
.info-werdegang{

    flex: 1 1 350px;
    max-width: 600px;

}

.info-text h2{

    padding-bottom: 2rem;

}

.info-text p,
.info-werdegang{

    padding-bottom: 1rem;

}

.info-werdegang ul{

    list-style: none;
    padding-top: 2rem;

}

.icon-points{

    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

}

.icon-points i{

    color: #8d1812;
    font-size: 2.5rem;
    padding-right: 1.5rem;

}
.program{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem 3rem;
    
}

.program ul{

    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 1em;

}

.program li {

    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px 0 #8d1812;

}

.program li:hover {

    background-color: #8d1812;

}

.portfolio{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    box-shadow: -2px 1px 8px #8d1812;
    
}

.cards img{

    width: 100%;
    max-width: 550px;
    height: auto;
    display: block;

}

.cards ul{

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 3em;
    padding: 50px;

}

.cards li:hover{

    transform: translateY(-8px);
    box-shadow: -2px 5px 8px #8d1812;

}

.contact-mail{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;  
    
}
.contact-mail h2{

    padding-bottom: 25px;

}

.button-mail{

    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    border-color: #8d1812;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;

}

.button-mail:hover{

    transform: translateY(-8px);
    box-shadow: -2px 2px 2px #8d1812;

}

.button-mail a:hover{

    color: #8d1812;

}

.contact a{

    text-decoration: none;
    color: #fff;

}

footer {

    background-color: rgb(14, 14, 14);
    padding: 40px 0px;
    width: 100%;
    border-top: 1px solid #8d1812;
    box-shadow: 2px 2px 12px #8d1812;
    margin-top: 2rem;
    text-align: center;

}

footer .links {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 24px;

}

footer a {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #000;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    text-decoration: none;
   
}

footer a:hover {

    background-color: #8d1812;
    transform: translateY(-3px);

}

@media (max-width: 1000px) {
  
    .header-info {
    
        padding: 3rem 1rem;
        flex-direction: column;
        align-items: center;

  }

  .header-left {

        padding-left: 0;
        text-align: center;

  }

  .header-img {
    
        padding-right: 0;

  }

  .info {
    
        flex-direction: column;
        padding: 3rem 1rem;

  }

  .info-text,
  .info-werdegang {
    
        padding-left: 0;
        max-width: 100%;

  }

}   

@media (max-width: 800px) {
  
    .hideOnMobile {
   
        display: none;
  }

  .menu-button {

        display: block;

  }

}

@media (max-width: 500px) {
  
    .sidebar {
  
        width: 100%;
  
    }

  .header-buttons {
  
    flex-direction: column;
    align-items: center;

  }

  nav ul {
    
    width: 100%;
    padding: 0 1rem;

  }

  nav a {
    
    padding: 0 1rem;

  }

}
